$primary-color: black
$secondary-color: goldenrod
body
   background: #494333
   margin: 0 auto
   font-family: 'Fredericka the Great', cursive
   text-shadow: 1px 0px #7f6322
   // text-align: center
   width: 100%
   header
      text-align: center
      background: $secondary-color
      h1
         font-size: 5em
         margin: 0
   nav
      ul
         display: flex
         justify-content: space-between
         flex-direction: row
         padding: 0 5px
         li
            list-style: none
            // margin: auto
            font-size: 3em
            text-decoration: none
            color: $primary-color
            margin: auto
         li:hover
            color: #494333
   section.brewery-search
      text-shadow: 0 0 black
      text-align: left
