$primary-color: black
$secondary-color: #a57621
$background-color:#494333
body
   background: #494333
   margin: 0 auto
   font-family: 'Fredericka the Great', cursive
   // text-shadow: 1px 0px #7f6322
   // text-align: center
   width: 100%
   height: 100%
   h3
      margin: 0
   header
      text-align: center
      background: $secondary-color
      width: 100%
      position: fixed
      h1
         font-size: 5em
         margin: 0
   nav
      ul
         display: flex
         justify-content: space-between
         flex-direction: row
         padding: 0 5px
         margin: 0
         li
            list-style: none
            // margin: auto
            font-size: 3em
            text-decoration: none
            color: $primary-color
            margin: auto
         li:hover
            color: #494333
   section
      padding-left: 1%
      height: 100%
      .brewery-search
         text-shadow: 0 0 black
         text-align: left
         .ng-hide

   footer
      position: fixed
      bottom: 0
      left: 0
      width: 100%
      height: 10vh
      background: $secondary-color
      a
         margin: 0 auto
      img
         width: 30%
         // position: absolute

      //    background: #494333
   .items
      border: 2px solid black
      border-radius: 5px
      margin-bottom: 10px
      list-style: none
      padding: 0 15px
      height: 330px
      display: inline-table
      background-color: #b8a270
      margin: 0px 11px 10px 0
      box-shadow: 5px 5px 8px 0px #332605
   .footer
      height: 10%
   .breweryShowSection
      border: 2px black solid
      width: 66%
      border-radius: 5px
      padding: 1%
      height: 65%
      background: #b8a270
      display: flex
      justify-content: space-around
      flex-wrap: wrap
      align-content: space-around
      img
         border-radius: 1%
         box-shadow: 9px 6px #494333
         width: 288px
         height: 288px
      h3
         margin: 7px 0
      .brewery-stats
         width: 45%
   .spacing
      height: 10vh
      width: 1px
   .spacing-head
      height: 11em
