<!DOCTYPE html>
<html ng-app="MyApp">
<head>
  <meta charset="utf-8">
  <title></title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"></script>
  <script src="/js/app.js" charset="utf-8"></script>
  <link href="https://fonts.googleapis.com/css?family=Diplomata+SC|Fascinate+Inline|Fredericka+the+Great|Sirin+Stencil|Vast+Shadow" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header>
    <h1>Brew Near You</h1>
    <nav>
      <ul ng-controller="UserController as userCtrl">
        <li><a href="#">home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">breweries</a></li>
        <li><a href="#">beers</a></li>
        <li><a href="#" ng-click="userCtrl.showLoginForm = !userCtrl.showLoginForm">log in</a></li>
        <div ng-show="userCtrl.showLoginForm">
              {{userCtrl.userName}}
          <form ng-submit='userCtrl.logIn()'>
            <input  ng-model ="userCtrl.userName" placeholder="username"><br>
            <input  ng-model ="userCtrl.password"  type='password' placeholder="password"><br>
            <input  type='submit' ng-click ="userCtrl.showLoginForm = !userCtrl.showLoginForm" name="login" value="Log in">
          </form>
        </div>

        <li>  <a href="#" ng-click="userCtrl.showRegisterForm = !userCtrl.showRegisterForm">Register</a></li>
        <div ng-show="userCtrl.showRegisterForm">
          <form ng-submit='userCtrl.addUser()'>
            <input  ng-model ="userCtrl.userName"placeholder="user name"><br>
            <input  ng-model ="userCtrl.password" type='password'placeholder="password"><br>
            <input type='submit' ng-click ="userCtrl.showRegisterForm = !userCtrl.showRegisterForm"name="register" value='Register'>
          </form>
        </div>
      </ul>
    </nav>
  </header>
</body>
</html>
