$primary-color: black

body
   background: #494333
   margin: 0 auto
   font-family: 'Fredericka the Great', cursive
   text-shadow: 1px 1px #7f6322
   text-align: center
header
   background: goldenrod

nav
   ul
      display: flex
      justify-content: space-between
      flex-direction: row
      li
         list-style: none

         // margin: auto
         a
            text-decoration: none
            color: $primary-color
            margin: auto
// font-family: 'Fredericka the Great', cursive;
// font-family: 'Fascinate Inline', cursive;
// font-family: 'Sirin Stencil', cursive;
// font-family: 'Vast Shadow', cursive;
// font-family: 'Diplomata SC', cursive;
